* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
}

.flex-spacebetween-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-icon {
    width: 22px;
    height: 22px;
}

.header {
    background-color: white;
    height: 54px;
    border: 1px solid #DBDBDB;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}



.nav-container {
    max-width: 935px;
    height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    max-width: 100px;
    height: auto;
}

.campo_busca {
    background-color: #FAFAFA;
    color: #DBDBDB;
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;

}

.campo_busca::placeholder {
    color: #979797;
    font-weight: 400;
    font-size: 12px;
    text-align: center;

}

.opcoes {
    width: 150px;
}

.container {
    max-width: 935px;
    height: 600px;
    margin: 0 auto;
    margin-top: 88px;
    display: flex;
    gap: 1rem;
}

.main {
    width: 614px;
    height: 600px;
}

.stories {
    background-color: white;
    width: 100%;
    height: 118px;
    border: 1px solid gray;

    position: relative;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-story {
    width: 66px;
    height: 66px;
    background-image: url('../img/stories_background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.stories ion-icon {
    color: white;
    width: 32px;
    height: 32px;
    filter: drop-shadow(0px 4px 4px gray);
    position: absolute;
    top: 50px;
    right: 5px;
}

.timeline {
    width: 100%;
    margin-top: 24px;
}



.post {
    background-color: white;
    border: 1px solid #DBDBDB;
    margin-bottom: 60px;
}



.post .cab {
    height: 82px;
    padding: 0 10px;
}

.post .cab img {
    width: 32px;
    height: 32px;
}

.cab>div {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post>img {
    width: 100%;
}

.post .footer {
    height: 60px;
}

.sidebar>div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sidebar {
    background-color: lightblue;
    width: 321px;
    height: 300px;

}

.perfil {
    padding: 10px;
    background-color: gray;
    display: flex;
    align-items: center;
}

.perfil>div p:nth-child(1) {
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

}

.perfil>div p:nth-child(2) {
    color: #8e8e8e;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

}

.perfil>img {
    margin-right: 10px;
}

@media(max-width:935px) {
    .container {
        justify-content: center;
        gap: 0;
    }

    .opcoes {
        justify-content: end;
    }

    .lg-hidden {
        display: none
    }

    .sidebar {
        display: none;
    }

}

@media(min-width:935px) {
    .lg-show {
        display: none
    }
}